---
import Logo from "../assets/logo-optimized.svg";
import Footer from "../components/Footer.astro";
import Searchbox from "../components/SearchBox.astro";
import "../css/index.css";
---

<div class="logo-element">
    <div class="logo-container">
        <Logo />
    </div>
</div>
<h1 class="title">Duck Duck No</h1>
<div class="search-wrapper">
    <Searchbox class="search" />
</div>
<Footer github="index.astro" />
