body {
    background-color: #000;
}

.logo{
    position: absolute;
    transform:translate(-50%, -50%);
    top: 30%;
    left: 50%;

}

.logo-text{
    text-align: center;
    color: #fff;
    font-family: Manrope, sans-serif;
    margin-bottom: 5vh;
    margin-top:2vh;
}

.search{
    position: absolute;
    transform:translate(-50%, -50%);
    top:50%;
    left: 50%;
}

.search input{
    width: 50vw;
    height: 5vh;
    border: none;
    border-radius: 50px;
    background-color: #1c1c1c;
    color: #fff;
    font-size: 1.5rem;
    font-family: Manrope, sans-serif;
    text-align: center;
}

.footer{
    position: absolute;
    transform:translateX(-60%);
    bottom:1%;
    left: 50%;
    color:#fff;
    font-family: Manrope, sans-serif;
    text-align: center;
}

a{
    color: #fff;
}

@media screen and (width<=600px){
    .footer{
        bottom:10%;
        left:53%; /* Jank */
    }
}